<script id="titlebarTemplate" type="text/x-jquery-tmpl">
<div>
	<div class="ui-block-a">
		<a href="#toggle" id="toggle"><i class="img touched_hide toggle" style=";"></i></a>
	</div>
	<div class="ui-block-b">
		<a href="#" data-ajax=false><i class="img touched_hide unlit find-request"></i></a>
		<a href="#"><i class="img touched_hide unlit messages"></i></a>
		<a href="#"><i class="img touched_hide unlit notifications"></i></a>
	</div>
	<div class="ui-block-c"></div>
</div>
</script>