<script type="text/javascript" charset="utf-8">
	var streamArgs = [
	    { 
			uid:0,
			highlight:1,
			actor:{
				name:"ragingwind",
				profpic:"https://twimg0-a.akamaihd.net/profile_images/1208984393/IMG_1193_reasonably_small.JPG"
			},
			msg: "jQuery Mobile(1.0 final, 이하 JQM)로 구현한 페이스북 모바일 페이지(http://m.facebook.com/)를 구현해본 예제입니다. 최대한 JQM을 사용하여 제작 하였습니다."
				+ "User페이지와 Newsfeed페이지를 이동하는 예제이며 왼쪽 상단의 버튼을 통해서 Sidebar를 Toggle시키는 기능을 가지고 있습니다. 페이지 이동"
				+ "은 Sidebar를 노출 시킨후에 메뉴를 선택하며 User, Newsfeed만 동작합니다. JQM의 가능성과 기능을 검사하기 위해서 제작되었습니다. "
				+ "페이지 레이아웃와 위젯 사용 라우팅 그리고 네비게이션 부분을 구현하였습니다. 이해의 정도에 따라 미흡한 점이나 "
				+ "성능상의 이슈가 있을 수 있습니다. 단순 참고만 하시기 바랍니다. 사용된 데이터는 임의로 작성된 데이터이며 tmpl을 이용하여 로딩됩니다.",
			attachment:{
				img:"images/attachments/jquery-logo.png", 
				desc:"jQuery Logo"
			}, 
			action: "12 Hours age",
			ufi:{
				comment:12
			}
		},
		{ 
			uid:1,
			highlight:0,
			actor:{
				name:"ragingwind",
				profpic:"https://twimg0-a.akamaihd.net/profile_images/1208984393/IMG_1193_reasonably_small.JPG"
			},
			msg: "소스는 Github에 있습니다.",
			attachment:{
				img:"https://a248.e.akamai.net/assets.github.com/images/modules/header/logov6-hover.svg?1315858591", 
				desc:"GitHub http://j.mp/vFq4fu"
			}, 
			action: "1 Hours age",
			ufi:{
				like:2,
				comment:1
			}
		},
		{ 
			uid:2,
			highlight:1,
			actor:{
				name:"ragingwind",
				profpic:"https://twimg0-a.akamaihd.net/profile_images/1208984393/IMG_1193_reasonably_small.JPG"
			},
			msg: "jQuery계열의 라이브러리만을 사용하였으며 추가로 제작된 plugin도 있습니다. 리스트는 다음과 같습니다. jquery.url, jquery.mobile.simplerouter, jquery.tmpl, jquery.tmpl.get",
			action: "12 Hours age",
		},
		{ 
			uid:3,
			highlight:0,
			actor:{
				name:"ragingwind",
				profpic:"https://twimg0-a.akamaihd.net/profile_images/1208984393/IMG_1193_reasonably_small.JPG"
			},
			msg: "JQM에서 Grid의 Refresh가 되지 않아 Page를 Destroy후 다시 Re-enhance하는 코드가 있습니다.",
			action: "12 Hours age",
		},
		{ 
			uid:4,
			highlight:1,
			actor:{
				name:"ragingwind",
				profpic:"https://twimg0-a.akamaihd.net/profile_images/1208984393/IMG_1193_reasonably_small.JPG"
			},
			msg: "페이스북 모바일 페이지의 일부 HTML, CSS 그리고 리소스를 사용하였습니다. JQM의 이해하는데 방해되는 페이스북의 코드는 tmpl 디렉토리 아래에 존재합니다.",
			action: "24 Day ago",
			ufi:{
				like:100
			}
		},
		{ 
			uid:5,
			highlight:1,
			actor:{
				name:"ragingwind",
				profpic:"https://twimg0-a.akamaihd.net/profile_images/1208984393/IMG_1193_reasonably_small.JPG"
			},
			msg: "Chrome 16.0.912.58 beta, iOS 시물레이터에서 테스트 되었으며 iOS 시물레이터에서 동작을 권장합니다.",
			attachment:{
				img:"images/attachments/ios-simulator.png", 
				desc:"iOS Simulator에서 동작하는 모습"
			},
			action: "12 Hours age",
			ufi:{
				like:100,
				comment:1
			}
		},
		{ 
			uid:6,
			highlight:1,
			actor:{
				name:"ragingwind",
				profpic:"https://twimg0-a.akamaihd.net/profile_images/1208984393/IMG_1193_reasonably_small.JPG"
			},
			msg: "제작의도와는 다르게 동작할 수 있습니다.",
			action: "12 Hours age",
			ufi:{
				like:1,
				comment:1
			}
		},
		{ 
			uid:0,
			highlight:0,
			actor:{
				name:"ragingwind",
				profpic:"https://twimg0-a.akamaihd.net/profile_images/1208984393/IMG_1193_reasonably_small.JPG"
			},
			msg: "관련 문의는 @ragingwind, twitter로 해주세요.",
			action: "1 Hours age",
			ufi:{
				like:1
			}
		}
	];
</script>

<script id="streamTemplate" type="text/x-jquery-tmpl">
	<li>
	<div class="story">
	<!-- Highlights mark -->
	{{if highlight}}
	<i class="img highlight" style="background-image: url('http://static.ak.fbcdn.net/rsrc.php/v1/yV/r/SpHDR1gTsSA.png');background-repeat:no-repeat;background-size:100% 100%;width:23px;height:23px;"></i>
	{{/if}}
	<!-- ib start -->
	<div class="ib">
		<!-- Profile picture -->
		<i class="img l profpic" style="background-image: url('${actor.profpic}');background-repeat:no-repeat;background-size:100% 100%;width:40px;height:40px;"></i>
		<!-- c Start -->
		<div class="c">
			<!-- Message start -->
			<div class="msg"><strong class="actor">${actor.name}</strong><br>${msg}</div>
			<!-- Message end -->
			
			<!-- Attachment start -->
			{{if attachment}}
			<div class="ib attachment" style='overflow:auto;'>
				<a class="l" href=""><i class="img" style="width: 73px;height: 130px;background-image: url('${attachment.img}');background-repeat:no-repeat;background-size:100% 100%;width:73px;height:130px;"></i></a>
				<div class="desc c mfss" style="display: table-cell;">
					<span>${attachment.desc}</span>
				</div>
			</div>
			{{/if}}
			<!-- Attachment end -->
			
			<!-- Action start -->
			<div class="actions"><span class="mfss fcg"><abbr>${action}</abbr></span></div>
			<!-- Action end -->
			
			<!-- ufi start  -->
			<a class="miniUfiWrap">
				{{if ufi}}
				<div class="miniUfiNub">
					<i class="img" style="background-image: url('http://static.ak.fbcdn.net/rsrc.php/v1/yt/r/2RquakQwcYs.png');background-repeat:no-repeat;background-size:100% 100%;width:11px;height:14px;"></i>
				</div>
				<span class="miniUfi mfss fcl">
					{{if ufi.like}}
					<span class="like_def">
						<i class="img" style="background-image: url('http://static.ak.fbcdn.net/rsrc.php/v1/yj/r/frl7jyXL3H9.png');background-repeat:no-repeat;background-size:100% 100%;width:13px;height:15px;"></i>
						${ufi.like} person
					</span>
					{{/if}}
					{{if ufi.comment}}
					<span class="cmt_def">
						<i class="img" style="background-image: url('http://static.ak.fbcdn.net/rsrc.php/v1/y0/r/FSdP8UVPlLF.png');background-repeat:no-repeat;background-size:100% 100%;width:12px;height:16px;"></i>
						${ufi.comment} comments
					</span>
					{{/if}}					
				</span>
				{{/if}}
			</a>
			<!-- ufi end -->
			</div>
		</div>
		<!-- c End -->
		<div class="clear"></div>
		<div class="flyoutIcon">
			<i class="img touched_hide" style="background-image: url('http://static.ak.fbcdn.net/rsrc.php/v1/yp/r/VwcSvxHE0mt.png');background-repeat:no-repeat;background-size:100% 100%;width:24px;height:26px;"></i>
		</div>
	</div>
	<!-- ib end -->
	</div>
</li>
</script>
