<script id="composerTemplate" type="text/x-jquery-tmpl">
<div>
	<div class="ui-block-a"><a href="#" data-role="button"><i class="img photo"></i> Photo</a></div>
	<div class="ui-block-b"><a href="#" data-role="button"><i class="img status"></i> Status</a></div>
	<div class="ui-block-c"><a href="#" data-role="button"><i class="img checkin"></i> Check In</a></div>
</div>
</script>