<script type="text/javascript" charset="utf-8">
	var sidebarArgs = [
	    {
			label:"Ragingwind",
			icon:"images/profpic/ragingwind.jpg",
			href:"#user"
		},
		// Divider, divider has a empty href
		{
			label:"FAVORITES"
		},
		{
			label:"News Feed",
			icon:"images/icons/news-feed.png",
			href:"#newsfeed"
		},
		{
			label:"Messages",
			icon:"images/icons/messages.png",
			href:"#"
		},
		{
			label:"Nearby",
			icon:"images/icons/nearby.png",
			href:"#"
		},
		{
			label:"Friends",
			icon:"images/icons/friends.png",
			href:"#"
		},
		// Divider, divider has a empty href
		{
			label:"GROUPS"
		},
		{
			label:"My Group",
			icon:"images/icons/group-1.png",
			href:"#"
		},
		{
			label:"See All Groups",
			icon:"",
			href:"#"
		},
		{
			label:"LIST"
		},
		{
			label:"Close Friends",
			icon:"images/icons/close-friends.png",
			href:"#"
		},
		{
			label:"Subscriptions",
			icon:"images/icons/subscriptions.png",
			href:"#"
		},
		{
			label:"Family",
			icon:"images/icons/family.png",
			href:"#"
		},
		{
			label:"See All List",
			icon:"",
			href:"#"
		},
		{
			label:"APPS"
		},
		{
			label:"Photos",
			icon:"images/icons/photos.png",
			href:"#"
		},
		{
			label:"Notes",
			icon:"images/icons/notes.png",
			href:"#"
		},
		{
			label:"See All Apps",
			icon:"",
			href:"#"
		},
		{
			label:"SETTING"
		},
		{
			label:"Account Setting",
			icon:"",
			href:"#"
		},
		{
			label:"Privacy Setting",
			icon:"",
			href:"#"
		},
		{
			label:"Help Center",
			icon:"",
			href:"#"
		},
		{
			label:"Log Out",
			icon:"",
			href:"#"
		},
		{
			label:"English (US) · Facebook © 2011",
			icon:"",
			href:"#"
		}
	];
</script>

<script id="sidebarTemplate" type="text/x-jquery-tmpl">
	<li {{if href}} data-icon="false" {{else}} data-role="list-divider" {{/if}}>
		{{if href}}
			{{if icon}}
				<a href="${href}"><img src="${icon}">${label}</a>
			{{else}}
				<a href="${href}" class="ui-no-icon">${label}</a>
			{{/if}}
		{{else}}
			${label}
		{{/if}}
	</li>
</script>