<script type="text/javascript" charset="utf-8">
	var streamArgs = [
	    { 
			uid:0,
			highlight:0,
			actor:{
				name:"ragingwind",
				profpic:"images/profpic/ragingwind.jpg"
			},
			msg: "jQuery Mobile(1.0, final, 이하 JQM)로 구현한 facebook 모바일 페이지 예제입니다. 최대한 JQM의 구조를 따라 제작하였습니다. "
			+ "#viewport 레이어를 top-level로 배치하고 내부에 #sidebar와 콘텐츠를 보여주는 #page레이어가 존재 합니다. #sidebar의 경우 일반적인 "
			+ "static html이며 jQuery의 tmpl을 이용 합니다."
			+ "아래와 같은 기능을 지원 합니다. jQuery에서 제공하는 플러그인을 사용했습니다. ",
			attachment:{
				img:"images/profpic/ragingwind.jpg", 
				desc:"baby"
			}, 
			action: "12 Hours age",
			comment:10
		},
		{ 
			uid:1,
			highlight:0,
			actor:{
				name:"ragingwind",
				profpic:"images/profpic/ragingwind.jpg"
			},
			msg: "jQuery Mobile(1.0, final)로 구현한 facebook 모바일 페이지 예제입니다. 최대한 jQuery Mobile 구조를 따라 제작하였습니다.",
			attachment:{
				img:"images/profpic/ragingwind.jpg", 
				desc:"baby"
			}, 
			action: "12 Hours age",
			like:9,
			comment:10
		},
		{ 
			uid:2,
			highlight:0,
			actor:{
				name:"ragingwind",
				profpic:"images/profpic/ragingwind.jpg"
			},
			msg: "jQuery Mobile(1.0, final)로 구현한 facebook 모바일 페이지 예제입니다. 최대한 jQuery Mobile 구조를 따라 제작하였습니다.",
			attachment:{
				img:"images/profpic/ragingwind.jpg", 
				desc:"baby"
			}, 
			action: "12 Hours age",
			like:9,
			comment:10
		},
		{ 
			uid:3,
			highlight:0,
			actor:{
				name:"ragingwind",
				profpic:"images/profpic/ragingwind.jpg"
			},
			msg: "jQuery Mobile(1.0, final)로 구현한 facebook 모바일 페이지 예제입니다. 최대한 jQuery Mobile 구조를 따라 제작하였습니다.",
			attachment:{
				img:"images/profpic/ragingwind.jpg", 
				desc:"baby"
			}, 
			action: "12 Hours age",
			like:9,
			comment:10
		},
		{ 
			uid:4,
			highlight:0,
			actor:{
				name:"ragingwind",
				profpic:"images/profpic/ragingwind.jpg"
			},
			msg: "jQuery Mobile(1.0, final)로 구현한 facebook 모바일 페이지 예제입니다. 최대한 jQuery Mobile 구조를 따라 제작하였습니다.",
			attachment:{
				img:"images/profpic/ragingwind.jpg", 
				desc:"baby"
			}, 
			action: "12 Hours age",
			like:9,
			comment:10
		},
		{ 
			uid:5,
			highlight:0,
			actor:{
				name:"ragingwind",
				profpic:"images/profpic/ragingwind.jpg"
			},
			msg: "jQuery Mobile(1.0, final)로 구현한 facebook 모바일 페이지 예제입니다. 최대한 jQuery Mobile 구조를 따라 제작하였습니다.",
			attachment:{
				img:"images/profpic/ragingwind.jpg", 
				desc:"baby"
			}, 
			action: "12 Hours age",
			like:9,
			comment:10
		},
		{ 
			uid:6,
			highlight:0,
			actor:{
				name:"ragingwind",
				profpic:"images/profpic/ragingwind.jpg"
			},
			msg: "jQuery Mobile(1.0, final)로 구현한 facebook 모바일 페이지 예제입니다. 최대한 jQuery Mobile 구조를 따라 제작하였습니다.",
			attachment:{
				img:"images/profpic/ragingwind.jpg", 
				desc:"baby"
			}, 
			action: "12 Hours age",
			like:9,
			comment:10
		},
		{ 
			uid:7,
			highlight:0,
			actor:{
				name:"ragingwind",
				profpic:"images/profpic/ragingwind.jpg"
			},
			msg: "jQuery Mobile(1.0, final)로 구현한 facebook 모바일 페이지 예제입니다. 최대한 jQuery Mobile 구조를 따라 제작하였습니다.",
			attachment:{
				img:"images/profpic/ragingwind.jpg", 
				desc:"baby"
			}, 
			action: "12 Hours age",
			like:9,
			comment:10
		},
		{ 
			uid:8,
			highlight:0,
			actor:{
				name:"ragingwind",
				profpic:"images/profpic/ragingwind.jpg"
			},
			msg: "jQuery Mobile(1.0, final)로 구현한 facebook 모바일 페이지 예제입니다. 최대한 jQuery Mobile 구조를 따라 제작하였습니다.",
			attachment:{
				img:"images/profpic/ragingwind.jpg", 
				desc:"baby"
			}, 
			action: "12 Hours age",
			like:9,
			comment:10
		},
		{ 
			uid:9,
			highlight:0,
			actor:{
				name:"ragingwind",
				profpic:"images/profpic/ragingwind.jpg"
			},
			msg: "jQuery Mobile(1.0, final)로 구현한 facebook 모바일 페이지 예제입니다. 최대한 jQuery Mobile 구조를 따라 제작하였습니다.",
			attachment:{
				img:"images/profpic/ragingwind.jpg", 
				desc:"baby"
			}, 
			action: "12 Hours age",
			like:9,
			comment:10
		},
		{ 
			uid:10,
			highlight:0,
			actor:{
				name:"ragingwind",
				profpic:"images/profpic/ragingwind.jpg"
			},
			msg: "jQuery Mobile(1.0, final)로 구현한 facebook 모바일 페이지 예제입니다. 최대한 jQuery Mobile 구조를 따라 제작하였습니다.",
			attachment:{
				img:"images/profpic/ragingwind.jpg", 
				desc:"baby"
			}, 
			action: "12 Hours age",
			like:9,
			comment:10
		},
		{ 
			uid:11,
			highlight:0,
			actor:{
				name:"ragingwind",
				profpic:"images/profpic/ragingwind.jpg"
			},
			msg: "jQuery Mobile(1.0, final)로 구현한 facebook 모바일 페이지 예제입니다. 최대한 jQuery Mobile 구조를 따라 제작하였습니다.",
			attachment:{
				img:"images/profpic/ragingwind.jpg", 
				desc:"baby"
			}, 
			action: "12 Hours age",
			like:9,
			comment:10
		}
	];
</script>

<script id="streamTemplate" type="text/x-jquery-tmpl">
	<li>
	<div class="story">
	<!-- Highlights mark -->
	<i class="img highlight" style="background-image: url('http://static.ak.fbcdn.net/rsrc.php/v1/yV/r/SpHDR1gTsSA.png');background-repeat:no-repeat;background-size:100% 100%;width:23px;height:23px;"></i>
	<!-- ib start -->
	<div class="ib">
		<!-- Profile picture -->
		<i class="img l profpic" style="background-image: url('${actor.profpic}');background-repeat:no-repeat;background-size:100% 100%;width:40px;height:40px;"></i>
		<!-- c Start -->
		<div class="c">
			<!-- Message start -->
			<div class="msg"><strong class="actor">${actor.name}</strong><br>${msg}</div>
			<!-- Message end -->
			
			<!-- Attachment start -->
			{{if attachment}}
			<div class="ib attachment" style='overflow:auto;'>
				<a class="l" href=""><i class="img" style="width: 73px;height: 130px;background-image: url('${attachment.img}');background-repeat:no-repeat;background-size:100% 100%;width:73px;height:130px;"></i></a>
				<div class="desc c mfss" style="display: table-cell;">
					<span>${attachment.desc}</span>
				</div>
			</div>
			{{/if}}
			<!-- Attachment end -->
			
			<!-- Action start -->
			<div class="actions"><span class="mfss fcg"><abbr>${action}</abbr></span></div>
			<!-- Action end -->
			
			<!-- ufi start  -->
			<a class="miniUfiWrap">
				<div class="miniUfiNub">
					<i class="img" style="background-image: url('http://static.ak.fbcdn.net/rsrc.php/v1/yt/r/2RquakQwcYs.png');background-repeat:no-repeat;background-size:100% 100%;width:11px;height:14px;"></i>
				</div>
				<span class="miniUfi mfss fcl">
					{{if like}}
					<span class="like_def">
						<i class="img" style="background-image: url('http://static.ak.fbcdn.net/rsrc.php/v1/yj/r/frl7jyXL3H9.png');background-repeat:no-repeat;background-size:100% 100%;width:13px;height:15px;"></i>
						${like} person
					</span>
					{{/if}}
					{{if comment}}
					<span class="cmt_def">
						<i class="img" style="background-image: url('http://static.ak.fbcdn.net/rsrc.php/v1/y0/r/FSdP8UVPlLF.png');background-repeat:no-repeat;background-size:100% 100%;width:12px;height:16px;"></i>
						${comment} comments
					</span>
					{{/if}}					
				</span>
			</a>
			<!-- ufi end -->
			</div>
		</div>
		<!-- c End -->
		<div class="clear"></div>
		<div class="flyoutIcon">
			<i class="img touched_hide" style="background-image: url('http://static.ak.fbcdn.net/rsrc.php/v1/yp/r/VwcSvxHE0mt.png');background-repeat:no-repeat;background-size:100% 100%;width:24px;height:26px;"></i>
		</div>
	</div>
	<!-- ib end -->
	</div>
</li>
</script>
