<tr class="statuses-item">
	<td colspan="" rowspan="" headers="">
		<div class="left-column">
			<img class="profile-photo" align="top" src="{{profile_image_url}}">
		</div>
		<div class="right-column">
			<div class="status-contents-header">
				<a href="#users/lookup/{{screen_name}}">
					<span class="fullname">{{name}}</span>
					<span class="username">@{{screen_name}}</span>
				</a>
			</div>
			<div><span class="tweet">{{text}}</span></div>
			<div><span class="source">{{created_at}}</span></div>
		</div>
		<span style="display:none" class="status-id">{{id}}</span>
	</td>
</tr>