<div class="dialog">
	<div class="contents">
		<div class="top">
			<div class="left-column">
				<img class="profile-photo" align="top" src="{{profile_image_url}}">
			</div>
			<div class="right-column">
				<div class="fullname">{{name}}</div>
				<div class="username">@{{screen_name}}</div>
			</div>
		</div>
		<div class="mid">
			<div class="desc">{{description}}</div>
			<div class="source">{{created_at}}</div>
		</div>
		<div class="bottom-menu">
			<ul>
				<li><strong>{{statuses_count}}</strong> Tweet</li>
				<li><strong>{{followers_count}}</strong> Follower</li>
				<li><strong>{{friends_count}}</strong> Friends</li>
			</ul>
		</div>
	</div>
</div>